{% extends "utils/base.html"%}

{% block start %}

<style>
  .card {
    width: 18rem; 
    height: 30rem; /* Fixed height for consistency */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card img {
    height: 200px;  /* Fixed height for images */
    object-fit: cover; /* Ensures the image fills the space properly */
  }

  .card-body {
    flex-grow: 1; /* Allows content to take up remaining space */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hotel-details {
    flex-grow: 1;
  }

  .btn-container {
    text-align: center;
  }
</style>

<div class="container mt-5 pt-5 pb-5">
  <div class="col-6 mx-auto px-4">
    <form class="d-flex gap-2">
      <input type="text" name="search" class="form-control" placeholder="Search">
      <select class="form-control" name="sort_by">
        <option>Choose</option>
        <option value="sort_low">Sort by Low to High</option>
        <option value="sort_high">Sort by High to Low</option>
      </select>
      <button type="submit" class="btn btn-warning mt-1">Search</button>
    </form>
  </div>
  
  <div class="row">
    {% for hotel in hotels %}
      <div class="col-md-3 mt-3">
        <div class="card shadow-lg">
          <a href="{% url 'hotel_details' hotel.hotel_slug %}">
            {% if hotel.hotel_images.first %}
              <img src="/media/{{ hotel.hotel_images.first.image }}" class="card-img-top" alt="Hotel Image">
            {% else %}
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png" class="card-img-top" alt="Hotel Image">
            {% endif %}
            
            <div class="card-body">
              <h5 class="card-title">{{ hotel.hotel_name }}</h5>
              <div class="hotel-details">
                
              
                <p>Price <span class="badge text-bg-danger">{{ hotel.hotel_price }}</span></p>
                <p>Offer Price <span class="badge text-bg-success">{{ hotel.hotel_offer_price }}</span></p>
                <hr>
                <p>{{ hotel.hotel_location }}</p> 
              </div>
              <div class="btn-container">
                <span class="badge text-bg-primary">Swimmy Pool</span>
                <span class="badge text-bg-primary">WiFi</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
