{% extends "utils/base.html" %}

{% block start %}

<div class="container mt-5 pt-5 pb-5">
  <div class="col-6 mx-auto card shadow-lg p-4" style="bottom: None;">
    <form method = "POST" >
      {% include "utils/alerts.html" %}
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">OTP</label>
          <input type="text" name="otp" class="form-control" id="exampleInputPassword1">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
</div>
<script>
  function sendOTP(){
    var email = document.getElementById('email').value 
    if(email == ""){
      alert("Email cannot be blank")
    }
    window.location.href = `/send_otp/${email}`
  }

</script>

{% endblock%}