 <!--navbar-->
<nav class="navbar  navbar-dark bg-danger shadow-lg p-2 nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> <img height="40" src="https://images.seeklogo.com/logo-png/27/1/oyo-rooms-logo-png_seeklogo-272486.png">      </a>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login_page'%}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register_page'%}">Register</a>
        </li>
      </ul>
      <a class="btn btn-danger" href = "{%url 'logout_view'%}">Logout</a>
    </div>
    </div>
  </nav>